:root {
    --white:#FFFFFF;
    --slate-900:#1F314F;
    --slate-500: #68778D;
    --slate-300:#D5E1EF;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-div {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    width: 320px;
    height:499px;
    padding: 16px;
    overflow: hidden;
    border-radius: 20px;
}

.text-div {
    padding: 0px 16px;
    margin: 24px 0px;
}

.qr-code-img {
    border-radius: 10px;
}

.heading-p {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 8px;
    color: var(--slate-900);
}

.subheading-p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin: 0;
    padding-top:8px;
    color: var(--slate-500)
}